/SumOfElements.class
/ReverseArray.class
/BubbleSort.class
/IsPolindrome.class
/TwoSum.class
/MiniMaxSum.class
/SimpleArraySum.class
/MaximunValue.class
/CheckGrades.class
/SortArray.class
/isArrayPalindrome.class
/BinarySearch.class
